#navbar-main {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid lightcyan;
    top: 0;
    height: 50px;

}

.navbar-links-wrapper {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 100%;
}

.navbar-links-wrapper li {
    padding: 5px 10px;
    height: 100%;
}