// Height of the nav bar
$navbarHeight: 70px;

// Main colors of the website
$lightBackgroundColor: #F9FBEF;
$darkBackgroundColor: #3d3d3d;
$mainColor: #386889;
$secondaryColor: #f25e5e;
$tertiaryColor: #56A0FC;
$fourthColor: #56D7BD;

// Border radiuses
$btnBorderRadius: 7px;
$divBorderRadius: 10px;
$bigDivBorderRadius:$lightBackgroundColor 13px;
